/*noBlockcontainer CSS*/

.smscMain div#smscMainBlockContainer {
    background-color: none !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}